.Picker-header {
    height: 240px;
    border-bottom: 0.25rem solid #333;
}

.Picker-logo {
    position: relative;
    display: inline-block;
    height: 160px;
    width: 160px;
}

.Picker-logo a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.Picker-logo img.Picker-football {
    animation: Picker-football-spin infinite 20s linear;
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
}

.Picker-logo img.Picker-react {
    animation: Picker-react-spin infinite 20s linear;
    position: absolute;
    top: -60px;
    left: -60px;
    height: 280px;
    width: 280px;
}

.list {
    list-style: none;
    text-align: left;
    padding: 0;
    /*overflow: hidden;*/
}

.list li {
    border: 1px solid #333;
    border-top-width: 0;
}

.list li:first-child {
    border-top-width: 1px;
}

.list a {
    transition: all 0.25s;
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1.25rem;
    line-height: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.list a:hover {
    background-color: #e6e6e6;
    padding-right: 0.75rem;
}

.list li .chevron {
    float: right;
    font-size: 2rem;
    vertical-align: middle;
    display: inline-block;
}

.list-of-leagues li .country-flag {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    margin-right: 1.5rem;
}

@keyframes Picker-football-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes Picker-react-spin {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
