.Watch {
    overflow: scroll;
}

.Watch-intro {
    font-size: large;
}

.watch-category {
    text-align: left;
}

.watch-category-heading {
    text-decoration: underline;
}

.Watch .Fixture.selected {
    background-color: #fff;
}

.Watch .Fixture.selected:hover {
    background-color: #f1bbbb;
}
